[phases.setup]
nixPkgs = ["nodejs-20_x", "python3", "gcc-unwrapped", "gnumake", "pkg-config"]

[phases.build]
cmds = [
  "npm install",
  "vite build --outDir dist", 
  "tsc -p tsconfig.server.json --outDir dist-server"
]

[start]
cmd = "node dist-server/index.js"