[phases.setup]
nixPkgs = ["nodejs_20", "python311", "gcc", "gnumake", "pkg-config"]

[phases.build]
cmds = [
  "npm install",
  "vite build --outDir dist", 
  "tsc -p tsconfig.server.json" # outDir is already handled by tsconfig
]

[start]
cmd = "node dist-server/index.js"