[phases.setup]
nixPkgs = ["nodejs_22", "python311", "gcc", "gnumake", "pkg-config"]

[phases.build]

cmds = [
  "npm install",
  "npx vite build --outDir dist", 
  "npx tsc -p tsconfig.server.json"
]

[start]
cmd = "node dist-server/index.js"